


     <div class="flex-container">

 
 <div style="background:yellow;padding:5px;heght:50px">
  
  <img class="small" src="../assets/6131226.avif" alt="">
    <h4 style="border-right:200px;">Moon</h4>
    <h5 style="border-right: 400px;color: white;color :black;background-color: chocolate;"> Fasion  | Home Appliances  | Electronics   | All Categories  | computers | Perfumes | Textiles  | Video Games | Health&Personal Care | Books&Pen |Cooking Utensils |Cloths| Electronics   | All Categories</h5>
  
  </div>
  <div>
    
  </div>
 
  <!-- Header -->
  <div *ngIf="!value"  class="header">
    <h4 style="border-left: 400px;color: chocolate;background-color: beige;"> <h1>Early Eid Offer</h1></h4>
    <ngb-carousel >
        <ng-template *ngFor="let i of imageObject" ngbSlide >
            
            <div class="picsum-img-wrapper">
                <img  class="imag" [src]="i.image" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
               
                <h4>{{i.title}}</h4>
                <h5>price:{{i.price}}</h5>
               
            </div>
            <!-- <img [src]="i.image" alt="Random first slide" /> -->
         </ng-template>
       </ngb-carousel>
  </div>
  
  <!-- Navigation Bar -->
  <div *ngIf="!value">
    <h1 class="new">All  Proucts</h1>
  <div   class="navbar">
    
    <mat-card *ngFor="let i of httpdata" >
     
        <mat-card-header>
         <div> 
          <mat-card-title-group>
            <mat-card-title> {{i.title}}</mat-card-title>
           <!-- <button (click)="callme(i)">about me</button> -->
            <mat-card-subtitle>{{i.price}}</mat-card-subtitle>
         <img  mat-card-sm-image [src]="i.image" >
          </mat-card-title-group>
        </div>
        </mat-card-header>
      
        <mat-card-content>
        
        </mat-card-content>
        <button style="color:white;color:black" (click)="callme(i)">seemore>></button>
      </mat-card>
   
  </div>
</div>
  
  <!-- The flexible grid (content) -->
   <div class="row">
    <div  *ngIf="value" class="side">
      <h2 style="border-left:50px;">About Me</h2>
      
      <div>
      <!-- <img  [src]="pdt.image" alt="Random first slide" />
       {{pdt.title}} -->
       <mat-card-header>
        <div> 
        
         <mat-card-title-group>
          <mat-card-title><pre>Rating <b>{{pdtrating}}</b></pre></mat-card-title>
          <mat-card-title><pre>votes: <b>{{pdtcount}}</b></pre></mat-card-title>
          <mat-card-title><ngb-rating [(rate)]="pdtrating"></ngb-rating></mat-card-title>
<hr />
           <mat-card-title>{{pdt.title}}</mat-card-title>
           <mat-card-subtitle>{{pdt.description}}</mat-card-subtitle>
           <mat-card-subtitle>price:{{pdt.price}}</mat-card-subtitle>
          


           <!-- <mat-card-subtitle>rating:{{pdtrating}}</mat-card-subtitle> -->
        
       <div class="ani"> <img  mat-card-sm-image [src]="pdt.image" ></div>
         </mat-card-title-group>
       </div>
       <p class="close" (click)="hintclose()">X</p>
       </mat-card-header>
    </div>
    </div> 
    <div class="headers" *ngIf="value">
      <div><h3>Other Products</h3></div>
      <ngb-carousel >
          <ng-template *ngFor="let i of pdtarray" ngbSlide >
              
              <div class="picsum-img-wrapper">
                  <img  class="imag" [src]="i.image" alt="Random first slide" />
              </div>
              <div class="carousel-caption">
                 
                  <h4>{{i.title}}</h4>
                  <h5>price:{{i.price}}</h5>
                 
              </div>
              <!-- <img [src]="i.image" alt="Random first slide" /> -->
           </ng-template>
         </ngb-carousel>
    </div>


    
   
  <div class="foot">
    <h5>CONNECT WITH US:</h5>
  
    <li><a href="https://www.facebook.com/"><img class="smallic" src="../assets/fa.avif" alt=""></a></li>
    <li><a href="https://www.instagram.com/"><img class="smallic" src="../assets/Instagram_icon.png.webp" alt=""></a></li>
    <li><a href="https://twitter.com/"><img class="smallic" src="../assets/Logo_of_Twitter.svg.png" alt=""></a></li>


  </div> 
   <div class="footer">
    <h5>www.moon.com</h5>
  </div> 
  </div>